@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --okta-primary: #502D3C;
  --okta-gold: #FDB71C;
  --okta-white: #FFFFFF;
  --okta-light: #F0F0F0;
  --okta-lighter: #EFECEC;
  --okta-dark: #1E1E1E;
  --okta-muted: #A17A8B;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--okta-dark);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  [data-debug-wrapper="true"] {
    display: contents !important;
  }
}
